@using FreshFarm.UI.Models.User

@model UserViewModel

<h2>Détails de l'utilisateur</h2>

<div>
    <label>Prénom : </label>
    <span>@Model.FirstName</span>
</div>
<div>
    <label>Nom : </label>
    <span>@Model.LastName</span>
</div>
<div>
    <label>Email : </label>
    <span>@Model.Email</span>
</div>

<a asp-controller="User" asp-action="GetAllUsers" class="btn btn-primary">Retour à la liste</a>
